.cabecalho{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 15px 20px;
    color: rgb(15, 15, 15);
}
.cabecalho__logo{
    margin-bottom: 0,5rem;
    height:60
}
.logo{
    font-size: 1.2em;
    font-weight: bold;
    color:#fff;
}

.menu ul{
    list-style:none;
display: flex;
gap: 20px;}

.menu a{
    font: size 1.2em;
    color:white;
    text-descoration:none;
    padding: 8px 12px;
}

.menu a:hover {
    background-color: #f7e1ee;
    border-radius: 4px;
    color:#000;
}

/* responsivo para telas menores*/
@media (max-width: 568px){
    .cabecalho{
        flex-direction:column;
        align-items: flex-start;